## Tipe Data
### Data Numerik

In [4]:
# INTEGER
2**2

4

In [42]:
# Penjumlahan INT + FLOAT
n = 1 + 1.2

In [3]:
#Check tipe data
type(n)

float

In [41]:
# STRING
st = "2.2"

In [8]:
# String diubah menjadi int
int(float(st))

2

In [40]:
# LIST 
A = ["a","b","c"]
B = (["a","b","c"])
type(A),type(B)

(list, list)

In [39]:
# TUPLE
type((type(A), type(B)))

tuple

In [35]:
#List dengan isi berbeda type
A = ["a","b",2,"c"]
A[1]

'b'

In [33]:
# Mengakses isi list
A[2:]

[2, 'c']

In [34]:
A[-1]

'c'

In [46]:
# DICTIONARY: daftar data dengan index custom berupa key
D = {"a": 1, "b": 2}

In [47]:
type(D)

dict

In [49]:
# DICTIONARY: mengkases data dengan key index tertentu
D["a"]

1

In [50]:
# DICTIONARY: mengakses semua keys dan mengubahnya menjadi list
list(D.keys())

['a', 'b']

In [42]:
# DICTIONARY: mengakses semua values
D.values()

dict_values([1, 2])

In [53]:
# LIST: Hasil penjumlahan list adalah penggabungan list
[1,2] + [3,4]

[1, 2, 3, 4]

In [54]:
# LIST: Hasil perkalian list: duplikasi list
[1,2]*3

[1, 2, 1, 2, 1, 2]

In [36]:
## SET: list yang dapat digunakan dalam operasi gerbang logika
S = set([1,2,"2",3])
S

{1, 2, '2', 3}

In [37]:
type(S)

set

In [55]:
# Gerbang logika OR: S OR S1
S1 = set ([2,3,"3",4])
S.union(S1)

{1, 2, '2', 3, '3', 4}

In [56]:
# Gerbang logika AND: S AND S1
S.intersection(S1)

{2, 3}

In [57]:
# For Loop
x = [3,2,3]
for i,j in enumerate(x):
    print(i)

0
1
2

In [58]:
# For Loop
x = [3,2,3]
for i in range(len(x)): #range itu membuat list dengan angka urut 
    print(i)

0
1
2

In [64]:
# Fungsi range: Membuat list dengan nomor berurutan 
print(range(len(x)))

range(0, 3)

In [63]:
list(range(len(x)))

[0, 1, 2]

In [65]:
# KONDISIONAL IF ELSE
if 1<1:
    print(False)
elif 1>4:
    print(False)
else:
    print(True)

True

In [66]:
# Perbandingan 2 list
x == x

True

In [67]:
# WHILE LOOP
n = 1
while n<5: # Selama n<5 adalah benar, maka lakukan:
    print(n)
    n = n + 1
    if n==3:
        break # BREAK: Keluar dari loop

1
2

In [69]:
# Error Catching: Try and Except
try:
    print(1+"1")
    
except Exception as e: # Exception: untuk menampilkan pesan error
    print(e)

unsupported operand type(s) for +: 'int' and 'str'

In [70]:
# FUNGSI: def fungsi(parameters) --> mendefinisikan fungsi

def fu(var_a, var_b):
    return var_a + var_b

In [100]:
fu(1,2)

3

In [101]:
fu(1) #Parameter harus diisi lengkap, kecuali ada nilai default nya

TypeError: fu() missing 1 required positional argument: 'var_b'

In [73]:
def fu2(var_a, var_b, var_c=3): #Parameter dengan nilai default harus distate paling belakang. Urutan parameter: variable tanpa nilai default, variable dengan nilai default. 
    x = var_a**var_b + var_c
    return x

In [74]:
fu2(1,2)

4

In [116]:
def fu3(var_a=1, var_b=2, var_c=3): #Dengan memberikan default value, urutan parameter bisa random
    x = var_a**var_b + var_c
    return x

In [117]:
fu3(var_c=2, var_b=1)

3

In [75]:
# Membuat fungsi di dalam fungsi

def fu4(var_a=1, var_b=2, var_c=3):
    def f0(var_a0):
        return var_a0**2
    
    x = f0(var_a)+var_b + var_c
    return x

In [123]:
fu4(2,2,3)

9

In [78]:
def fu5(z, var_a=1, var_b=2, var_c=3): #Fungsi dalam fungsi
    """Fungsi 5: fungsi dengan input parameter yang memiliki default value.
    Input: z, var_a, var_b, var_c
    Output: 
    Menguji fungsi di dalam fungsi
    """
    
    def f0(var_a0):
        
        return var_a0**2 + z #variable di luar fungsi
    
    x = f0(var_a)+var_b + var_c
    return x

In [79]:
z = 100

In [80]:
fu5(1,1,2,3)

# Catatan: 
## fungsi dengan variable luar/global secara teknis bisa berjalan. Namun nilai variable ini akan bergantung pada variable di luar fungsi. 
## Bila nilai variable global tsb berubah, maka fungsi juga akan berubah

7

In [81]:
# Menampilkan keterangan/catatan dalam fungsi
fu5.__doc__

'\n    Fungsi 5: variable dengan default value\n    Input:\n    Output:\n    Menguji fungsi di dalam fungsi\n    '

### Catatan: 
- Setiap fungsi sebaiknya hanya punya 1 konteks/fungsi, agar mudah modifikasi dan debuging
- Fungsi dengan variable luar/global secara teknis bisa berjalan. Namun nilai variable ini akan bergantung pada variable di luar fungsi. Bila nilai variable global tsb berubah, maka fungsi juga akan berubah

In [122]:
def lingkaran(d,unit="m"):
    """Fungsi lingkaran() adalah sebuah fungsi untuk menghitung luas dan keliling lingkaran dengan input diameter"""
    def luas():
        return 22/7*d**2/4
    
    def keliling():
        return 22/7*d
    
    print("Luas = "+str(luas())+" "+unit+"², Keliling = "+str(keliling())+" "+unit)

In [123]:
lingkaran(2)

Luas = 3.142857142857143 m², Keliling = 6.285714285714286 m

In [124]:
lingkaran.__doc__

'Fungsi lingkaran() adalah sebuah fungsi untuk menghitung luas dan keliling lingkaran dengan input diameter'